.marquee {
	display: flex;
	margin: 2rem 0;
	&__inner {
		margin: 0 auto;
		will-change: transform;
		animation-name: marquee;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
		@media (min-width: 500px) {
			animation-duration: 6s;
		}
		@media (min-width: 850px) {
			animation-duration: 9s;
		}
		@media (min-width: 1200px) {
			animation-duration: 11s;
		}

		[data-reverse] & {
			animation-direction: reverse;
		}

		[data-alternate] & {
			animation-name: marquee--alternate;
			animation-direction: alternate;
			animation-duration: 2.5s;
			@media (min-width: 500px) {
				animation-duration: 4s;
			}
			@media (min-width: 850px) {
				animation-duration: 7s;
			}
			@media (min-width: 1200px) {
				animation-duration: 9s;
			}
		}
	}
}

@keyframes marquee {
	from {
		transform: translateX(calc(50vw + 50%));
	}
	to {
		transform: translateX(calc(-50vw + -50%));
	}
}

@keyframes marquee--alternate {
	from {
		transform: translateX(calc(50vw + -50%));
	}
	to {
		transform: translateX(calc(-50vw + 50%));
	}
}